<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
      <title>title</title>
      <link rel="stylesheet" href="stylesheets/bootstrap.css" type="text/css">
  </head>
  <body id="page-top">

    <h2>Hello, <%=@username %>, your balance today is <%=@balance %>. </h2>
    <% else
      redirect to '/error'%>
    <button type="button">Log Out</button>

  </body>
</html>
