<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
      <title>title</title>
      <link rel="stylesheet" href="stylesheets/bootstrap.css" type="text/css">
  </head>
  <body id="page-top">
    <%  if is_logged_in?
        @username = current_user.username 
        @balance = current_user.balance%>
        <h2>Hello, <%=@username %>, your balance today is <%=@balance %>. </h2>
    <% else 
      redirect to '/error'%>
    <button type="button">Log Out</button>

  </body>
</html>
